<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="tenor" type="Tenor.Configuration.Tenor,Tenor" />
	</configSections>
    <tenor xmlns="urn:tenor-configuration">
      <exceptions logMode="File" filePath="e:\_rachel\test\" />
    </tenor>
	<!--<tenor>
        <exceptions logMode="Email">
            <emails>
              <add email="email@email.com" name="Somebody" />
            </emails>
        </exceptions>
        <exceptions logMode="File" filePath="e:\_rachel\test\"/>
    <exceptions>
      <add email="email@email.com" name="Somebody" />
    </exceptions>
    <dialects>
      <add providerName="Blah" type="Tenor.Configuration.HttpModule, Tenor.Web.UI" />
    </dialects>
    
	</tenor>-->
	<appSettings/>
	<connectionStrings>
		<clear/>
		<!--<add name="sample" connectionString="Data Source=localhost\sqlexpress;User Id=sa;Password=123;Initial Catalog=SampleApp" providerName="System.Data.SqlClient"/>-->
		<!--<add name="sample" connectionString="server=localhost;user id=root;password=123;persist security info=True;database=sampleapp" providerName="MySql.Data.MySqlClient"/>-->
		<!--<add name="sample" connectionString="Data Source=&quot;D:\Dados\Visual Studio 2008\Projects\TenorFramework\SampleApp\App_Data\sample.sqlite3&quot;" providerName="System.Data.SQLite"/>-->
		<!--<add name="sample" connectionString="Data Source=&quot;C:\Documents and Settings\Win XP\Meus documentos\Visual Studio 2008\Projects\TenorFramework\SampleApp\App_Data\sample.sqlite3&quot;" providerName="System.Data.SQLite"/>-->
		<!--<add name="sample" connectionString="Data Source=192.168.1.100;User ID=teste;Password=123;Unicode=True" providerName="System.Data.OracleClient"/>-->
		<add name="sample" connectionString="Server=localhost;Port=5432;User Id=teste;Password=123;Database=sample;" providerName="Npgsql"/>
	</connectionStrings>
	<system.web>
		<httpModules>
			<add name="Tenor" type="Tenor.Web.TenorModule, Tenor"/>
		</httpModules>

		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<pages>
			<controls>
				<add tagPrefix="tenor" assembly="Tenor.Web.UI" namespace="Tenor.Web.UI.WebControls"/>
			</controls>
		</pages>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<system.data>
		<DbProviderFactories>
			<add name="MySql Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySql" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
			<add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
		</DbProviderFactories>
	</system.data>
</configuration>
