<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="sample" connectionString="Data Source=localhost\sqlexpress;User Id=sa;Password=123;Initial Catalog=test" providerName="System.Data.SqlClient"/>
    <!--<add name="sample" connectionString="Data Source=&quot;{0}/../../../SampleApp/App_Data/sample.sqlite3&quot;" providerName="System.Data.SQLite"/>-->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySql Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySql" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>
</configuration>